#boards {
  display: block;
  background-color: #f5f0f0;
}

// .boardCard{
//   margin: 20px;
// }

h5{
  font-weight: bold;
  text-align: center;
  padding: 10px 5px 5px 5px;
}
img {
  padding: 10px;
}

.closeBtn{
  background-color: burlywood;
  margin: 50px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid burlywood;
}

#pinCard{
  margin: 50px 0px;
}